.container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-auto-rows: max-content;
  gap: 5px;
  justify-content: center;
  margin: auto;
  padding: 10px;
  background-color: rgba(25, 155, 54, 0.3);
}

.matchBtn {
  background-color: none;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
}

.startBtn {
  margin: 10px auto;
  background-color: rgb(68, 174, 68);
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}
h1 {
  margin: 10px auto;
  text-align: center;
}
.Ending {
  margin: 10px auto;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
