.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-auto-rows: max-content;
    gap: 5px;
    justify-content: center;
    margin: auto;
    padding: 10px;
    background-color: rgba(203, 217, 5, 0.5);
  }

  .matchBtn {
    background-color: none;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
  }

  .startBtn {
    margin: 10px auto;
    background-color: rgb(68, 174, 68);
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
  }